<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--注册Bean后置处理器，Bean后置处理器是全局的，会对所有Bean生效-->
    <bean class="com.high.spring.bean.LogBeanPostProcessor"/>

    <bean id="user" class="com.high.spring.bean.User" init-method="initUser" destroy-method="destroyUser">
        <property name="name" value="张三"/>
    </bean>
</beans>
