<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userBean" class="com.high.spring.bean.User"/>

    <bean id="userMapper" class="com.high.spring.mapper.UserMapper"/>

    <!--<bean id="userService" class="com.high.spring.service.UserService">
        <property name="userMapper" ref="userMapper"/>
    </bean>-->

    <bean id="userService" class="com.high.spring.service.UserService">
        <!--<constructor-arg index="0" ref="userMapper"/>-->
        <!--<constructor-arg type="com.high.spring.mapper.UserMapper" ref="userMapper"/>-->
        <constructor-arg name="userMapper" ref="userMapper"/>
    </bean>
</beans>
